.title{
    text-align: center;
    padding:28px 0 50px 0;
}
.cart{
    position: sticky;
    top: 0;
}
.cart-item{
    padding: 0 0 0 30px;
}
.cart button{
    width: 50%;
    border: none;
    border-radius: 8px;
    padding: 10px;
    color: whitesmoke;
    background: #1abbfa;
    margin-top: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.cart button:hover{
    cursor: pointer;
}

.cart .clear-btn{
    background: #ff4a3d;
    
}